div{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
div input{
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: 20rem;
    background-color: rgb(255, 168, 168);
    padding: 1.3 rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}
div button{
    color: blue;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    background-color: yellow;
    opacity: .8 ;
    outline: none;
}
div button:hover{
    opacity: 1;
    cursor: pointer;
}